header {
  border: 5px solid skyblue;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.projects {
  border: 5px solid lightblue;
}

.project {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
}

.content {
  border: 5px solid salmon;
}

.chosenProject {
  background-color: yellow;
}

.task-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
  /* justify-items: center; */
}

.projectList h2,
.task-header h2 {
  margin: 0;
  height: 1rem;
  padding: .25rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

.content li,
.projects li {
  border: 1px dotted lightgray;
  padding-left: 1rem;
  height: 20px;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr .75fr 0.25fr;
  /* justify-items: center; */
}

li:hover {
  background-color: lightblue;
}

/* display delete button on hover */
.delProject,
.delTask {
  width: 1.5rem;
  height: 1.5.rem;
  display: none;
}
li.project:hover .delProject,
li.task:hover .delTask {
  display: block;
}

input[type=date] {
  color: salmon;
}
