header {
	border: 5px solid lightgreen;
}

main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.projects {
	border: 5px solid lightblue;
}

.content {
	border: 5px solid salmon;
}

.yoyo {
	color: red;
}

.chosenProject {
	background-color: yellow;
}

.task-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

ul {
	list-style: none;
	padding: 0;
}

.content li,
.projects li {
	border: 1px dotted lightgray;
}

.task {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}